# Xcode user data
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Build artifacts
DerivedData/
build/
*.ipa
*.xcarchive

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
